@import '../../styles/variable';
@import '../../styles/mixin';

.main-profile {
  background-color: #1e1e2e;
}

.profile-page {
  h1 {
    font-size: 36px;
    color: #f5f5f5;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.002em;
    margin-bottom: 48px;
  }
}
.profile-user__box {
  .ant-row {
    .profile-form__box {
      margin: 0;
    }

    .info-input {
      display: grid;
      grid-template-columns: auto auto;
      gap: 24px;
    }

    .user-role {
      width: calc(50% - 24px);
    }

    label {
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.002em;
      color: #ffffff;
    }

    input,
    .ant-picker {
      background-color: #2b2b3f;
      padding: 11px 24px 13px 16px;
      border-radius: 6px;
      border: 1px solid #727288;
      color: #ffffff;
    }

    .ant-input[disabled] {
      color: #878891;
    }

    .info-date {
      width: 100%;
      box-shadow: none;
      input {
        border-radius: unset;
        border: unset;
        padding: 0;
        color: #ffffff;
      }
    }

    .info-date:hover {
      background-color: #2b2b3f;
    }
  }

  .profile-avatar {
    margin-right: 172px;

    .avatar__box {
      width: 27.3rem;
      height: 28rem;
      border-radius: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 24px;
      }

      .button-icon-upload {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        opacity: 0.85;
        background: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3.9rem;
        bottom: 0;

        label {
          color: $color-white;
          font-size: $fs-5;
          line-height: 0px;
          margin: 0;
        }
      }

      .account-name {
        text-align: center;

        p {
          font-size: 20px;
          color: #f5f5f5;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }
}

.profile-button-update {
  margin-top: 3rem;
}

.ant-modal-content {
  background-color: #1e1e2e;

  .ant-modal-header {
    background-color: transparent;

    .ant-modal-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: #f5f5f5;
      letter-spacing: -0.002em;
    }
  }
  .ant-modal-body {
    label {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #f5f5f5;
      letter-spacing: -0.002em;
    }

    .ant-input-affix-wrapper {
      background-color: #2b2b3f;
      border-radius: 8px;
      border: 1px solid #727288;
      padding: 11px 16px 13px;

      input {
        background-color: transparent;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #f5f5f5 !important;
        letter-spacing: -0.002em;
        box-shadow: none;
      }
    }

    .ant-input-affix-wrapper:hover {
      background-color: #2b2b3f !important;
    }
  }

  .cancel-button {
    background: transparent;
    color: #ff7506;
    border: 1px solid;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    line-height: 24px;
    height: 48px;
    padding: 12px 24px;
    width: 168px;
  }

  .save-button,
  .save-button:hover {
    color: #fff;
    background-color: #ff7506;
    border: none;
    border-radius: 8px;
    height: 48px;
    padding: 12px 24px;
    width: 168px;
  }
}
