.ant-checkbox-wrapper {
  color: #fff;
}

.ant-checkbox-inner {
  background-color: transparent;
  border: 1.5px solid #347aff;
}

.ant-input-password-icon {
  color: #ff7506;
}

.main-forgot-password {
  background-color: #1e1e2e;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;

  .content-form {
    display: inline-block;
    // width: 40%;
    margin: 0 auto;
    padding: 0 10rem;
    border-radius: 5rem;

    .img {
      margin-bottom: 52px;
    }

    .ant-form-item-explain-error {
      color: #ff4d4f;
      text-align: initial;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 20px 0;
    }

    .ant-form-item {
      margin-bottom: 48px;
    }
  }
}
