.search-in-table {
  margin-top: -7.1rem;
}

.card-main-table {
  background: rgba(47, 47, 65, 0.7);
  border-radius: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;

  .ant-badge-status-text {
    font-size: $fs-1;
  }

  //CHANGE PAGE SIZE
  .table-function {
    margin-top: -4.3rem;

    .ant-input-number {
      padding: 0.4rem;
      color: $color-ant-input;
      width: 4.8rem;
      border: 1px solid $color-primary;
      border-radius: 4px;
      margin: 0 8px;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .ant-input-number-input {
      padding: 0;
      color: $color-table-text;
      font-weight: $font-weight-medium;
      text-align: center;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .pagesize {
    &--show,
    &--entries {
      color: $color-primary;
      font-size: $fs-0;
    }
  }
}

.main-table {
  height: 100%;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  //table head
  .ant-table-thead > tr > th {
    background: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.002em;
    color: #ffac69;
    border: none;
    padding: 0;
    padding-bottom: 32px;
  }

  //padding for all table
  .ant-table-tbody > tr > td {
    padding: 12px 0 15px 0;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.015em;
    color: #ffffff;
    border-bottom: 1px solid #727288;
  }

  .ant-table-tbody > tr:last-child > td {
    border: 0;
  }

  .ant-table-tbody > tr > td:first-child {
    // text-align: right;
    // padding-right: 29px;
  }

  //for text color
  .ant-table {
    background: transparent;
  }

  // for border table
  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: $border-radius;
  }
  .ant-table-tbody {
    > tr.ant-table-row {
      &:hover {
        > td {
          background: transparent;
        }
      }
    }
    > tr {
      > td.ant-table-cell-row-hover {
        background: transparent;
      }
    }
  }

  .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: $border-radius;
  }

  .ant-table-tbody > tr.ant-table-row:last-child > td:first-child {
  }

  .ant-table-tbody > tr.ant-table-row:last-child > td:last-child {
    border-bottom-right-radius: $border-radius;
  }

  //for detail css
  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent;
  }

  //PAGINATION
  .ant-pagination-item {
    border: none;
  }

  li.ant-pagination-item {
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #f5f5ff;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li.ant-pagination-item-active {
    background: rgba(255, 117, 6, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #f5f5ff;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99%;
  }

  .ant-pagination-disabled .ant-pagination-item-link {
    color: $color-primary;
    border-color: transparent;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

  .icon-edit {
    color: #ff7506;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.002em;
    text-decoration-line: underline;
    color: #ff7506;
  }

  .ant-pagination-item {
    font-family: $main-font;
  }

  .ant-pagination-options-size-changer.ant-select {
    display: none;
  }

  .ant-table-summary {
    .ant-typography {
      color: $color-primary;
      font-size: $fs-1;
    }

    .ant-table-cell {
      border-bottom: none;
    }
  }

  .ant-badge-not-a-wrapper {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .ant-table-selection-col {
    width: 4.5rem;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: $color-primary-light;
  }
}

.main-table:hover .ant-table-thead > tr > th {
  background: transparent;
}

.ant-select:not(.ant-select-disabled):hover,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
  .ant-select-selector {
    border-color: $color-table-border;
    box-shadow: none;
  }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: $color-primary;
}
